@model IEnumerable<Sergio.Saude.Dominio.Cliente>

@{
    ViewBag.Title = "Novo";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Incluir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnpj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnpj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Details", "Detalhes", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Excluir", new { id=item.Id })
        </td>
    </tr>
}

</table>
